body{
  cursor: none;
}
.milse-container::-webkit-scrollbar { width: 0 !important }
.milse-container{
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  font-family: 'seobli-neon';
  background-image: url('media/200w.gif');
}
.logo-container{
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
  background-color: #CDCFCB;
}
.col-xs-1-spacer{
  background-color: #CDCFCB;
  color: #333;
  transition: .5s;
}
.circle{
  border: solid 1px #fff;
  width:20px;
  height:20px;
  border-radius:50%;
  position:absolute;
  z-index: 1000;
  transform:translate(-50%,-50%);
  transition: 0.1s;
  background-color: #fff;
  mix-blend-mode: difference;
}
.main-logo{
  height: 100px;
}
.brr{
  border-right: solid 1px #fff;
}
.c1c{
  background-color: #CDCFCB;
}
.c2c{
  background-color: #c1c1c1;
}
.c3c{
  background-color: #b6b0ac;
}
.c4c{
  background-color: #454444;
  color: #fff;
}
.btt{
  border-top: solid 1px #fff;
}
.bbb{
  border-bottom: solid 1px #fff;
}
.blank-p{
  background-image: url('media/200w.gif');
}
.blank2-p{
  background-image: url('media/CS.gif');
}
.fbb{
  border: solid 1px #fff;
}
.promage{
  transition: .5s;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.promage:hover{
  box-shadow: 0 5px 12px rgb(0 0 0 / 0.5);
  transition: .5s;
}
.navtems:hover{
  background-color: #000;
  color: #fff;
  transition: .5s;
}
.ctw{
  font-family: 'seobli-tw';
  color: #00ff00;
}
.screen1-text{
  font-family: 'seobli-tw';
  color: #3e4377;
}
.screen1-text-exp1{
  animation: clchng 4s infinite ease-in-out;
}
.paint-exp1{
  animation: motion-c 5s infinite;
}
.h4i{
  opacity: 0;
}
.milse-nav{
  background-color: #f4ebea96;
  width: 100vw;
  left: 0;
  position: fixed;
}
.adscroll{
  height: 100vh;
  width: 100vw;
  background-image: url('https://milseofficial.github.io/media/sample.jpg');
  background-size: 100%;
}
.mena{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #CDCFCB;
    box-shadow: 20px 20px 50px grey;
  }
@keyframes clchng {
  0%{color: #3e4377;}
  25%{color: #309176;}
  50%{color: #913030;}
  75%{color: #879130;}
}
@keyframes motion-a{
  from{top: 0; left: 0;}
  to{top: 700px; left: 700px;}
}
@keyframes motion-b{
  from{top: 0; right: 0;}
  to{top: 700px; right: 700px;}
}
@keyframes motion-c{
  0%{transform: translateZ(0);}
  25%{transform: translateZ(50px);}
  50%{transform: translateZ(100px);}
  75%{transform: translateZ(150px);}
}
@media screen and (max-width:  1000px) {
    .circle{
        display: none;
    }
}
@media screen and (min-width:  1001px) {
    .circle{
        display: block;
    }
}
