.milse-container::-webkit-scrollbar { width: 0 !important }
.milse-container{
  background-image: url('media/200w.gif');
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.screen1-text{
  font-family: seobli-tw;
  color: #3e4377;
  cursor: pointer;
}
.screen1-text-exp1{
  animation: clchng 4s infinite ease-in-out;
}
.milse-nav{
  background-color: #f4ebea96;
  width: 100vw;
  left: 0;
  position: fixed;
}
.adscroll{
  height: 100vh;
  width: 100vw;
  background-image: url('https://milseofficial.github.io/media/sample.jpg');
  background-size: 100%;
}
@keyframes clchng {
  0%{color: #3e4377;}
  25%{color: #309176;}
  50%{color: #913030;}
  75%{color: #879130;}
}
@keyframes motion-a{
  from{top: 0; left: 0;}
  to{top: 700px; left: 700px;}
}
@keyframes motion-b{
  from{top: 0; right: 0;}
  to{top: 700px; right: 700px;}
}
